{
  "*.go": [
    "/opt/homebrew/bin/gofmt -w",
    "go vet"
  ],
  "*.ts": [
    "eslint --fix",
    "npx prettier --write"
  ],
  "*.js": "npx prettier --write",
  "*.json": "npx prettier --write"
}
